html {
    background-color: #383838;
}

h1 {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    font-size: 50px;
    margin-top: 50px;
}

.buttons-sketch-container {
    display: flex;
    gap: 170px;
}

.sketch-container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    background-color: black;
}

.empty-div {
    box-sizing: border-box;
    background-color: gray;
    border: none;
}

.buttons-text-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 170px;
    margin-top: 100px;
}

.buttons-text-container p {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}

.buttons-container button {
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.buttons-container button:hover {
    background-color: burlywood;
}